.mymetadata
.checkstyle
.classpath
*.class
.settings/
.war
.zip
.rar
.idea
*.iml
.metadata
.recommenders
/RemoteSystemsTempFiles/*
/Servers/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/bin/*
/bin/
/target/
smart4j*/bin/*
smart4j*/bin/
smart4j*/target/
smart4j*/src/main/webapp/WEB-INF/classes/*
smart4j*/.settings/
smart4j*/.classpath